{% extends 'base.html' %}
{% block content %}
<div class="container ">
    <div class="row justify-content-center my-5">
        {% for message in messages%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hey!</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}

        <div class="col-md-5">
            <h3 class="text-center bg-primary p-3 text-white">Log In</h3>
            <form action="/signin" method="post">
                {% csrf_token %}
               

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>             
    
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password1" id="password" class="form-control">
                </div>
                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary justify-content-center">Submit</button>
                 </div> 
                                
            </form>
        </div>
    </div>
</div>
{% endblock %}